<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
	    <!-- Bootstrap의 반응형 네비게이션 바 정의 -->
	    <div class="container-fluid">
	        <a class="navbar-brand" href="/">SBB</a>
	        <!-- 브랜드 로고 또는 홈으로 가는 링크 -->

	        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	            <!-- 모바일 화면에서 메뉴 토글 버튼 -->
	        </button>

	        <div class="collapse navbar-collapse" id="navbarSupportedContent">
	            <!-- 네비게이션 바의 접기/펼치기 내용 -->
	            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	                <li class="nav-item">
	                    <a class="nav-link" href="#">로그인</a>
	                    <!-- 로그인 링크 -->
	                </li>
	            </ul>
	        </div>
	    </div>
	</nav>