<html layout:decorate="~{layout}"> <!-- == layout.html-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<div layout:fragment="content" class="container my-3">
	<!-- 질문 -->
	<h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
	<div class="card my-3">
		<div class="card-body">
			<!-- text area -->
			<div class="card-text" th:utext="${@commonUtil.markdown(question.content)}"></div>
			<!--
			- "card-text": Bootstrap 클래스 적용으로 텍스트 영역 스타일 지정.
			- `th:utext`: HTML 태그를 해석하여 그대로 출력. 
			  - `utext`는 "unescaped text"를 의미하며, 태그를 그대로 렌더링함.
			  - 일반 텍스트는 `th:text`를 사용하지만, HTML 태그를 포함하는 경우 `th:utext` 사용.
			- `${@commonUtil.markdown(question.content)}`:
			  - `@commonUtil`: Spring Bean으로 등록된 CommonUtil 객체를 호출.
			  - `markdown(question.content)`: 질문의 내용(`question.content`)을 Markdown에서 HTML로 변환.
			  - 변환된 HTML 문자열을 그대로 출력.
			-->
<!--			<div class="card-text" style="white-space:pre-line;" th:text="${question.content}">-->
<!--			</div>-->
			
			<div class="d-flex justify-content-end">
				<!-- 질문 고친 날짜 -->
				<div th:if="${question.modifyDate != null}"
				class="badge bg-light text-dark p-2 text-start mx-3">
						<div class="mb-2">modified at</div>
						<div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
				<!-- 질문 쓴 유저이름과 날짜 -->
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${question.author != null}"
						th:text="${question.author.username}"></span>
					</div>
					<div th:text="${#temporals.format(question.createDateTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
				</div>
			</div>
			<div class="my-3">
				<!-- 추천 버튼 -->
				<a href="javascript:void(0);" class="recommand btn btn-sm btn-outline-secondary"
				th:data-uri="@{|/question/vote/${question.id}|}">
				추천
				<span class="badge rounded-pill bg-success"
				th:text="${#lists.size(question.voter)}"></span>
			</a>
			<!-- recommand : 추천버튼을 클릭하는 이벤트를 얻기 위한 클래스 -->
				
				<!-- 질문 수정 링크 (인증된 사용자이면서 작성자인 경우에만 표시) -->
				<a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
					th:text="고치기"></a>
					
				<a href="javascript:void(0)" th:data-uri="@{|/question/delete/${question.id}|}"
					class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()" th:if="${question.author != null and 
					#authentication.getPrincipal().getUsername() == question.author.username}" th:text="삭제"></a>
				<!--
					- 삭제 버튼 (JavaScript로 동작 처리).
					- `th:data-uri`: 삭제 요청 URL 설정.
					- `sec:authorize`: 인증된 사용자만 표시.
					- `th:if`: 작성자와 현재 사용자 동일할 때만 표시.
					- `class`: Bootstrap 스타일 적용.
					- `delete`: 삭제이벤트를 찾을 때 쓰는 클래스
					-->
			</div>
		</div>
	</div>

	<!-- 답변갯수 보이기 -->

	<h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 달려있음|">
	</h5>

	<!-- 답변 되풀이하기 -->

	<div class="card my-3" th:each="answer : ${question.answerList}">
		
		<!-- 답변 앵커 -->
		<a th:id="|answer_${answer.id}|"></a>
		
		<div class="card-body">
			<!-- 답변의 텍스트 영역 -->
			<div class="card-text" th:utext="@{commonUtil.markdown(answer.content)}"></div>
			
<!--			<div class="card-text" style="white-space: pre-line;" th:text="${answer.content}">-->
<!--			</div>-->
			<div class="d-flex justify-content-end">
				<!-- 댓글 고친 날짜, 시간 -->
				<div th:if="${answer.modifyDate != null}"
				class="badge bg-light text-dark p-2 text-start mx-3">
					<div class="mb-2">modified at</div>
					<div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
				</div>
				<!-- 댓글 쓴 유저이름과 날짜, 시간 -->
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
					</div>
					<div th:text="${#temporals.format(answer.createDate,'yyyy-MM-dd HH:mm:ss')}"></div>
				</div>

			</div>
			<div class="my-3">
				<!-- 답변 추천 버튼 -->
				<a href="javascript:void(0);" class="recommand btn btn-sm btn-outline-secondary"
				th:data-uri="@{|/answer/vote/${answer.id}|}">
				추천
				<span class="badge rounded-pill bg-success"
				th:text="${#lists.size(answer.voter)}"></span>
				</a>
				
				<!-- 고치기 버튼 -->
				<a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()" 
					th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == 
									answer.author.username}" th:text="고치기"></a>
				<!-- 지우기 버튼 -->
				<a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
				class="delete btn btn-sm btn-outline-secondary"
				sec:authorize="isAuthenticated()"
				th:if="${answer.author != null and #authentication.getPrincipal().getUsername()
				== answer.author.username}"
				th:text="삭제"></a>
			</div>
		</div>
		<!-- 답변 되풀이 끝남 -->
	</div>
	<!-- 답변 작성 -->
	<!-- 답변 작성 폼: 답변 내용을 입력하고 제출할 수 있음 -->
	<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="mb-3">
		<!-- 답변 내용을 입력하는 텍스트 영역 -->
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>

		<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" id="content" rows="15"
			class="form-control"></textarea><!-- 로그인 안함-->

		<textarea sec:authorize="isAuthenticated()" th:field="*{content}" id="content" rows="15"
			class="form-control"></textarea><!-- 로그인 함 -->

		<!-- 답변 등록 버튼 -->
		<input type="submit" value="답변 등록">
	</form>

</div>
<script layout:fragment="script" type="text/javascript">

	// "delete" 클래스를 가진 모든 요소를 가져옴
	const delete_elements = document.getElementsByClassName("delete");

	// 가져온 요소들을 배열로 변환하고, 각 요소에 대해 반복
	Array.from(delete_elements).forEach(function (element) {
		// 각 요소에 클릭 이벤트 리스너 추가
		element.addEventListener('click', function () {
			// 삭제 확인 메시지를 띄움
			if (confirm("정말로 삭제하시겠습니까?")) {
				// 사용자가 확인을 누르면, 해당 요소의 `data-uri` 속성에 저장된 URL로 이동
				location.href = this.dataset.uri;
			};
		});
	});
	
	const recommand_elements = document.getElementsByClassName("recommand");
	Array.from(recommand_elements).forEach(function(element){
		element.addEventListener('click', function(){
			if(confirm("정말로 추천하시겠습니까?")){
				location.href=this.dataset.uri;
			};
		});
	});

</script>

</html>
<!-- 질문의 제목을 출력 -->
<!--<h1 th:text="${question.subject}"></h1>-->

<!-- 질문의 내용을 출력 -->
<!--<div th:text="${question.content}"></div>-->

<!-- 답변의 개수를 표시, 예: "3개의 답변이 달려있음" -->
<!--<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 달려있음|"></h5>-->

<!--<div>-->
<!--	 질문에 달린 각 답변을 순회하며 리스트 항목으로 출력 -->
<!--	<ul>-->
<!--		<li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>-->
<!--	</ul>-->
<!--</div>-->