<html layout:decorate="~{layout}"> <!-- == layout.html-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/style.css}">-->
<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
<div layout:fragment="content" class="container my-3">
	<!-- 질문 -->
	<h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
	<div class="card my-3">
		<div class="card-body">

			<div class="card-text" style="white-space:pre-line;" th:text="${question.content}">
			</div>

			<div class="d-flex justify-content-end">
				<div class="badge bg-light text-dark p-2 text-start">
					<div th:text="${#temporals.format(question.createDateTime, 'yyyy-MM-dd HH:mm:ss')}"></div>
				</div>
			</div>
			<div class="my-3">
				<!-- 질문 수정 링크 (인증된 사용자이면서 작성자인 경우에만 표시) -->
				<a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
					sec:authorize="isAuthenticated()"
					th:if="${question.author != null and #authentication.getPrincipal().getUsername() == question.author.username}"
					th:text="고치기"></a>
			</div>
		</div>
	</div>

	<!-- 답변갯수 보이기 -->

	<h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 달려있음|">
	</h5>

	<!-- 답변 되풀이하기 -->

	<div class="card my-3" th:each="answer : ${question.answerList}">
		<div class="card-body">
			<div class="card-text" style="white-space: pre-line;" th:text="${answer.content}">
			</div>
			<div class="d-flex justify-content-end">
				<div class="badge bg-light text-dark p-2 text-start">
					<div class="mb-2">
						<span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
					</div>
					<div th:text="${#temporals.format(answer.createDate,'yyyy-MM-dd HH:mm:ss')}"></div>
				</div>
			</div>
		</div>
		<!-- 답변 되풀이 끝남 -->
	</div>
	<!-- 답변 작성 -->
	<!-- 답변 작성 폼: 답변 내용을 입력하고 제출할 수 있음 -->
	<form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="mb-3">
		<!-- 답변 내용을 입력하는 텍스트 영역 -->
		<div th:replace="~{form_errors :: formErrorsFragment}"></div>

		<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" id="content" rows="15"
			class="form-control"></textarea><!-- 로그인 안함-->

		<textarea sec:authorize="isAuthenticated()" th:field="*{content}" id="content" rows="15"
			class="form-control"></textarea><!-- 로그인 함 -->

		<!-- 답변 등록 버튼 -->
		<input type="submit" value="답변 등록">
	</form>

</div>

</html>
<!-- 질문의 제목을 출력 -->
<!--<h1 th:text="${question.subject}"></h1>-->

<!-- 질문의 내용을 출력 -->
<!--<div th:text="${question.content}"></div>-->

<!-- 답변의 개수를 표시, 예: "3개의 답변이 달려있음" -->
<!--<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 달려있음|"></h5>-->

<!--<div>-->
<!--	 질문에 달린 각 답변을 순회하며 리스트 항목으로 출력 -->
<!--	<ul>-->
<!--		<li th:each="answer : ${question.answerList}" th:text="${answer.content}"></li>-->
<!--	</ul>-->
<!--</div>-->