<!--<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}"> -->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<table class="table">
		<!-- 테이블 헤더 설정: 제목과 작성 날짜 열을 만듦 -->
		<thead class="table-dark">
			<tr>
				<th>번호</th> <!-- 번호 열 -->
				<th>제목</th> <!-- 제목 열 -->
				<th>작성날짜</th> <!-- 작성 날짜 열 -->
			</tr>
		</thead>
		<tr>

			<!-- `questionList`의 각 요소를 반복하여 행을 생성 -->
		<tr th:each="question, loop : ${questionList}">
			<td th:text="${loop.count}"></td> <!-- 반복 횟수를 번호로 표시 (1부터 시작) -->

			<td>
				<!-- 각 질문의 ID를 URL에 동적으로 추가하여 상세 페이지로 이동하는 링크 생성 -->
				<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
			</td>
			<td th:text="${#temporals.format(question.createDateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
			<!-- 작성 날짜를 형식화하여 출력 -->
		</tr>

		</tbody> <!-- 테이블 본문 끝 -->
	</table>
</div>
</html>